.column h2 {
    margin-right: auto;
    margin-left: auto;
}

.imageoverlay {
    position: relative;
    display: inline-block;
}

.overlaytext {
    position: absolute;
    height: 100%;
    text-align: center;
    width: 100%;
}

.overlaytext:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.overlaytext h4 {
    display: inline-block;
    font-size: xx-large;
    color: rgba(255,255,255,0.5);
}

.overlaytext-black h4 {
    color: rgba(0,0,0,0.5);
}

.imageoverlay img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 0;
}

#gallery .column {
    padding-top: 15px;
}

#gallery .column:hover {
    background-color: rgba(0,0,0,0.1);
}

#gallery a {
    color: black;
    text-decoration: none;
}

#gallery h5 {
    text-align: center;
}

.content-warning {
    font-weight: bold;
    color: red;
}