@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather|Raleway|Bitter');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdn.rawgit.com/konpa/devicon/4f6a4b08efdad6bb29f9cc801f5c07e263b39907/devicon.min.css');
:root {
    --accent-color-orange: #da532c;
    --accent-color-blue: #22668A;
    --accent-color-green: #1F9A58;
    --accent-color-yellow: #DA8B2C;
}

html, body {
    height: 100%;
    font-family: "Lato", "Comic Sans MS", sans-serif;
}

.hero-image {
    background: url("../images/hero.jpg") center no-repeat;
    height: 100%;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    font-family: "Bitter", serif;
    color: white;
}

.hero-text p {
    font-family: "Raleway", sans-serif;
    color: #da532c;
}

.accent-color {
    color: #da532c;
}

section {
    padding: 10px 10%;
}

.section-orange {
    background: var(--accent-color-orange);
    color: white;
}

.section-white h1 {
    color: #666;
}

.section-green {
    background: var(--accent-color-green);
    color: white;
}

.section-blue {
    background: var(--accent-color-blue);
    color: white;
}

.no-underline, .no-underline:hover, .no-underline:active, .no-underline:focus, .no-underline:visited {
    text-decoration: none;
    color: inherit;
}

.underline, .underline:hover, .underline:active, .underline:focus, .underline:visited {
    text-decoration: underline;
    color: inherit;
}

h1 {
    font-family: "Merriweather", serif;
}

h2 {
    font-size: 60pt;
    color: var(--accent-color-green);
}

a {
    cursor: pointer;
    cursor: hand;
    text-decoration: underline;
    color: inherit;
}

.resume {
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 480px) {
    p {
        font-size: medium;
    }
}